@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html, body {
    padding: 0;
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
}

#background {
    width: 100%;
    height: 100%;
}

#backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5065;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    background-image: url(Images/background.jpeg);
    background-position: center;
    background-size: cover;
    z-index: -1000;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 1.25em;
    width: 100%;
    max-width: 32em;
    box-sizing: border-box;
}

#holder h {
    font-size: 1.875em;
    font-weight: 500;
    color: white;
    margin-bottom: 3.125em;
}

#holder p {
    font-size: 0.825em;
    font-weight: 300;
    color: white;
    margin-bottom: 1em;
}

.button {
    display: inline-block;
    font-weight: 700;
    font-size: 0.75em;
    text-decoration: none;
    color: white;
    background-color: rgba(255,255,255,0);
    border: white solid 0.125em;
    padding: 0.625em 0em;
    width: 12.5em;
    margin: 0em 0.625em;
    
    -webkit-transition: color 0.1s, background-color 0.1s;
    transition: color 0.1s, background-color 0.1s;
}

.button:hover {
    color: black;
    background-color: rgba(255,255,255,1);
}

.backgroundwhite {
    background: white;
    box-shadow: 0px 1px 5px #000;
}

#navBar {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 5em;
    box-sizing: border-box;
}

#navBar img {
    display: inline-block;
    position: absolute;
    top: 0.5em;
    left: 2.5em;
    width: 7em;
    vertical-align: middle;
}

#navbar ul {
    display: inline-block;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 1em;
    right: 2em;
}

#navbar ul li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0;
}

#navbar ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 500;
    width: 10em;
    height: 3.125em;
    line-height: 3.125em;
}

#navbar li a:hover {
    font-weight: 500;
    color: rgba(255,255,255,0.5);
}

#navbar ul li ul {
    display: block;
    position: relative;
    list-style-type: none;
    top: 0em;
    right: 0em;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    
    transition: opacity 0.5s, height 0.5s;
}

#navbar li:hover ul {
    opacity: 1;
    height: 4.5em;
}

#navbar ul li ul li {
    display: block;
    text-align: center;
}

#navbar ul li ul li a {
    display: block;
    text-align: center;
}

.section {
    text-align: center;
    margin: 0em;
    padding: 4em 4em;
    background-color: white;
}

.section h {
    font-size: 1.5em;
    font-weight: 300;
    
}

.section p {
    font-size: 0.9em;
    font-weight: 300;
    max-width: 56.25em;
    margin: 0.625em auto;
}

.divider {
    background-color: rgba(0,0,0,0.2);
    height: 0.07em;
    max-width: 25em;
    margin: 3em auto 6em auto;
}

.division {
    display: inline-block;
    margin: 2em 9.375em;
}

.division img {
    height: 12.5em;
}

.division h {
    display: block;
    font-size: 1.75em;
    font-weight: 500;
    margin:2.5em 2.5em 0em 2.5em;
}

.division a {
    font-weight: 300;
}

.learnbutton {
    text-decoration: none;
    color: black;
}

.sponsor {
    display: inline-block;
    max-height: 18.75em;
    max-width: 18.75em;
    vertical-align: middle;
}

.member {
    display: inline-block;
    max-width: 21.875em;
    margin: 0em 1.563em;
    text-align: center;
}

.member img {
    width: 70%;
    margin-bottom: 0.938em;
    border-radius: 0.625em;
    box-shadow: 0 0 0.313em rgba(0,0,0,0.4);
}

.member h {
    display: block;
    font-size: 1.688em;
    font-weight: 500;
}

.member p {
    display: block;
    font-size: 1.125em;
    margin-top: 0.313em;
}

#gallery img {
    max-width: 350px;
    max-height: 350px;
    
    transition: transform 0.5s;
}

#copyright {
    bottom: 0;
    text-align: center;
    font-weight: 300;
    font-size: 0.875em;
}